footer ul li:nth-of-type(2) i.iconfont {		/* 当前窗口底部颜色 */
	font-size: 0.35rem;
	color: #FF6600;
}
footer ul li:nth-of-type(2) b {
	color: #FF6600;
}
header {		/* 头部 */
	height: 3rem;
	overflow: hidden;
	background: #fff;
}
.swiper-container {		/* banner */
	height: 100%;
	overflow: hidden;
}
.swiper-slide img {
	width: 100%;
	height: 100%;
}
.swiper-pagination-bullet-active {
	background: #ff6600;
}
.bagsList {			/* 套餐列表 */
	margin-bottom: 44px;
}
.bagsList li {
	padding: 0 7px 0 0.7px;
	height: 2rem;
	background: #fff;
	border-bottom: 1px #ddd solid;
}
.bagsList li .bagsListLeft {
	float: left;
	width: 1.6rem;
	height: 1.6rem;
	margin: 0.2rem;
}
.bagsList li .bagsListLeft>img {
	display: block;
	height: 100%;
	width: 100%;
}
.bagsList li .titleAndCon {
	height: 1.6rem;
	width: 2.5rem;
	margin: 0.2rem 0;
	float: left;
}
.bagsList li .titleAndCon>h3 {
	height: 0.7rem;
	line-height: 0.7rem;
	font-size: 0.3rem;
	font-weight: normal;
}
.bagsList li .titleAndCon>h4 {
	height: 0.9rem;
	line-height: 0.3rem;
	font-size: 0.18rem;
	font-weight: normal;
}
.bagsList li .bagsListRight {
	height: 1.6rem;
	width: 1.4rem;
	float: right;
	margin: 0.2rem 0;
}
.bagsList li .bagsListRight>h5 {		/* 价格 */
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.22rem;
	text-align: center;
}
.bagsList li .bagsListRight>h5>b {
	font-size: 0.3rem;
	color: #f00;
}
.bagsList li .bagsListRight>h5>i {
	color: #666;
	font-style: normal;
}
.bagsList li .bagsListRight>p {
	height: 1rem;
	position: relative;
}
.bagsList li .bagsListRight>p>a {
	height: 0.5rem;
	line-height: 0.5rem;
	text-align: center;
	width: 1rem;
	position: absolute;
	top: 50%;
	margin-top: -0.25rem;
	left: 50%;
	margin-left: -0.5rem;
	font-size: 0.2rem;
	background: #FF6600;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 0.1rem;
	letter-spacing: 1px;
}
