header {		/* 头部 */
	height: 3rem;
	overflow: hidden;
	background: #fff;
	width: 100%;
}
footer ul li:nth-of-type(1) i.iconfont {		/* 当前窗口底部颜色 */
	font-size: 0.35rem;
	color: #FF6600;
}
footer ul li:nth-of-type(1) b {
	color: #FF6600;
}
.swiper-container {		/* banner */
	height: 100%;
	overflow: hidden;
}
.swiper-slide img {
	width: 100%;
	height: 100%;
}
.swiper-pagination-bullet-active {
	background: #ff6600;
}
.makingGiftBags {		/* 首页 */
	background: #f5f5f5;
	overflow: hidden;
}
.FourClassify {			/* 四大分类 */
	height: 1rem;
	display: flex;
	padding: 0.2rem 0;
	margin: 0.2rem 0;
	background: #fff;
}
.FourClassify li {
	flex: 1;
	text-align: center;
}
.FourClassify li h1 {
	height: 0.6rem;
	position: relative;
}
.FourClassify li h1 .iconfont {
	font-size: 0.4rem;
	color: #f60;
	position: absolute;
	top: 50%;
	margin-top: -0.2rem;
	left: 50%;
	margin-left: -0.2rem;
}
.FourClassify li:nth-of-type(1) h1 .iconfont {
	color: #f60;
}
.FourClassify li:nth-of-type(2) h1 .iconfont {
	color: #2AC845;
}
.FourClassify li:nth-of-type(3) h1 .iconfont {
	color: #007AFF;
}
.FourClassify li:nth-of-type(4) h1 .iconfont {
	color: #DD524D;
}
.FourClassify li h2 {
	height: 0.4rem;
	line-height: 0.4rem;
	font-size: 0.2rem;
	font-weight: normal;
}
.FineRecommendation {		/* 精品推荐 */
	overflow: hidden;
	height: 4rem;
}
.FineLeft {			/* 左侧 */
	float: left;
	width: 3rem;
	text-align: center;
	background: #fff;
}
.FineLeft>h1 {
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.3rem;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.FineLeft>h2 {
	height: 0.6rem;
	font-size: 0.2rem;
	color: #666;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.FineLeft .FineLeftImg {
	height: 2.8rem;
}
.FineLeft .FineLeftImg>img {
	width: 2.6rem;
	height: 2.6rem;
}
.FineRight {			/* 右侧 */
	float: right;
	background: #fff;
	width: 3.3rem;
}
.FineRight li {
	height: 2rem;
	overflow: hidden;
}
.FineRight li .FineRightImg {
	float: left;
	width: 1.4rem;
}
.FineRight li .FineRightImg>img {
	height: 1.8rem;
	width: 1.4rem;
}
.FineRight li .FineRighTitle {
	float: right;
	width: 1.9rem;
}
.FineRight li .FineRighTitle h1 {
	height: 0.6rem;
	line-height: 0.6rem;
	font-size: 0.28rem;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 0.4rem;
}
.FineRight li .FineRighTitle h2 {
	height: 0.6rem;
	font-size: 0.22rem;
	color: #666;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.commodityClassification {		/* 商品分类 */
	margin-bottom: 60px;
}
.classifyList {				/* 分类列表 */
	margin-top: 0.4rem;
}
.classifyList>h1 {
	height: 1rem;
	margin: 0 auto;
	width: 5rem;
	border-radius: 0.5rem;
	background: #ccc;
	margin-bottom: 0.4rem;
}
.classifyList>h1>span {
	display: block;
	height: 0.9rem;
	margin: 0 auto;
	width: 5rem;
	line-height: 0.9rem;
	border-radius: 0.5rem;
	background: #FF6600;
	color: #fff;
	font-size: 0.5rem;
	text-align: center;
	font-family: "楷体";
	margin-bottom: 0.4rem;
}
.shopList {
	background: #fff;
	display: flex;
    flex-wrap: wrap;
}
.shopList li {
	display: inline-block;
	width: 2rem;
	margin-left: 0.1rem;
	margin-top: 0.1rem;
}
.shopList li .shopImg {		/* 商品图片 */
	width: 2rem;
	height: 2rem;
}
.shopList li .shopImg>img {
	width: 2rem;
	height: 2rem;
}
.shopList li>h3 {			/* 商品描述 */
	height: 0.6rem;
	line-height: 0.31rem;
	font-size: 0.22rem;
	font-weight: normal;
	color: #333;
	overflow: hidden;				/* 多行文本溢出出现省略号 */
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 0.1rem;
}
.shopList li .priceAndAdd {
	height: 0.6rem;
	position: relative;
}
.shopList li .priceAndAdd>h4 {
	height: 0.6rem;
	line-height: 0.6rem;
	width: 2rem;
	font-size: 0.26rem;
	color: #f00;
	font-weight: normal;
	overflow: hidden;
}
.shopList li .priceAndAdd>span {
	position: absolute;
	width: 0.4rem;
	height: 0.6rem;
	top: 0;
	right: 0;
	
}
.shopList li .priceAndAdd>span .iconfont {
	position: absolute;
	font-size: 0.4rem;
	color: #f00;
	top: 50%;
	margin-top: -0.2rem;
}
.classifyList .moreShopping {			/* 更多商品 */
	height: 0.6rem;
	display: block;
	text-align: center;
	line-height: 0.6rem;
	font-size: 0.3rem;
	color: #333;
	text-decoration: none;
	background: #fff;
	border-top: 1px #ccc solid;
}
.footerPopUp {					/* 添加购物车弹窗 */
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 44px;
	display: none;
	background: rgba(0,0,0,0.6);
	z-index: 999;
}
.popUpCon {
	background: #fff;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.shopInformation {
	padding:0 0.2rem;
}
.shopInformation li:nth-of-type(1) {
	border-bottom: 1px #eee solid;
	position: relative;
	height: 1rem;
}
.shopInformation li:nth-of-type(1) .shopInformationImg {			/* 商品图片 */
	position: absolute;
	left: 0;
	top: -0.2rem;
	width: 1rem;
	height: 1rem;
	border: 1px #ccc solid;
}
.shopInformation li:nth-of-type(1) .shopInformationImg>img {
	width: 1rem;
	height: 1rem;
	display: block;
	margin: 0;
}
.shopInformation li:nth-of-type(1) .shopInformationDetail {				/* 商品价格及说明 */
	height: 1rem;
	margin-left: 1.2rem;
}
.shopInformation li:nth-of-type(1) .shopInformationDetail>h4 {
	height: 0.5rem;
	line-height: 0.5rem;
	font-weight: normal;
	font-size: 0.26rem;
}
.shopInformation li:nth-of-type(1) .shopInformationDetail>h3 {
	height: 0.4rem;
	font-weight: normal;
	font-size: 0.28rem;
	color: #f00;
}
.shopInformation li:nth-of-type(1) .closeShopInf {				/* 关闭按钮 */
	position: absolute;
	display: block;
	width: 0.4rem;
	height: 0.4rem;
	top: 0.1rem;
	right: 0;
}
.shopInformation li:nth-of-type(1) .closeShopInf>.iconfont {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0.46rem;
	color: #aaa;
}
.shopInformation li:nth-of-type(2) {
	height: 0.8rem;
	overflow: hidden;
}
.shopInformation li:nth-of-type(2) .ResidualQuantity {
	float: left;
	width: 3rem;
}
.shopInformation li:nth-of-type(2) .ResidualQuantity>h3 {
	height: 0.3rem;
	line-height: 0.3rem;
	margin-top: 0.1rem;
	font-weight: normal;
	font-size: 0.28rem;
}
.shopInformation li:nth-of-type(2) .ResidualQuantity>h4 {
	height: 0.3rem;
	font-size: 0.2rem;
	font-weight: normal;
	color: #666;
}
.shopInformation li:nth-of-type(2) ul {
	float: right;
	padding-top: 0.1rem;
	width: 1.8rem;
	display: flex;
}
.shopInformation li:nth-of-type(2) ul li {
	height: 0.6rem;
	flex: 1;
	border: 1px #999 solid;
	position: relative;
}
.shopInformation li:nth-of-type(2) ul li:nth-of-type(2) {
	border-left: none;
	border-right: none;
}
.shopInformation li:nth-of-type(2) ul li>.iconfont {
	font-size: 0.24rem;
	position: absolute;
	top: 50%;
	margin-top: -0.12rem;
	left: 50%;
	margin-left: -0.12rem;
}
.shopInformation li:nth-of-type(2) ul li>span {
	display: block;
	width: 100%;
	height: 0.6rem;
	line-height: 0.6rem;
	text-align: center;
	font-size: 0.3rem;
}
.addCartOrBuy {					/* 加入购物车和立即购买按钮 */
	height: 1rem;
	width: 100%;
	display: flex;
}
.addCartOrBuy a {
	flex: 1;
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
	color: #fff;
	font-size: 0.3rem;
	font-weight: normal;
	text-decoration: none;
}
.addCartOrBuy a:nth-of-type(1) {
	background: #666;
}
.addCartOrBuy a:nth-of-type(2) {
	background: #DA251C;
}











